.final {
    width: 15rem;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 50%;
}

.output {
    background-color: aqua;
}

.red {
    background-color: red;
}

h2 {
    font-size: 1.05rem;
}